*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(224, 219, 228);
    color: black;
}

#header{
    width: 100%;
    height: 100vh;
}

span{
    color: rgb(3, 118, 212);
    font-weight: lighter;
}

.conatiner{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 500;
}

h2{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 3px 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: all 0.8s;
} 

nav ul li a:hover{
    color: #7d079a;
}

.main{
    margin-top: 20%;
    font-size: 26px;
}

.main a{
    font-size: 30px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(156, 7, 202);
    transition: all 0.9s;
}

.main a:hover{
    color: black;
}

#skills{
    padding: 30px 0;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div{
    background-color: #fffefe47;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 1.2s, transform 1.2s;
}

.skills-list div h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills-list div:hover{
    background-color: #0b8bd0;
    transform: translateY(-30px);
}

.img{
    width: 190px;
}

.image{
    width: 100px;
}

